{% extends "layout.html" %}
{% block content%}



<form id="form" action="/sell" method="post">
	<table class="table text-center m-5 mx-auto" style="width:50%; margin: auto;">
	  <thead class="thead-dark">
	    <tr id="tableheaders">
	      <th scope="col">Symbol</th>
	      <th scope="col">Name</th>
	      <th scope="col">Shares</th>
	      <th scope="col">Current Price</th>
	      <th scope="col">TOTAL</th>
	      <th scope="col">Gains</th>
	      <th># of Shares to Sell</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for row in table %}	  	
	    <tr>
			<td>{{row[0]}}</th>
		   	<td>{{row[1]}}</td>
		   	<td>{{row[2]}}</td>
		   	<td>{{row[3] | currencyFormat}}</td>
		   	<td>{{row[4] | currencyFormat}}</td>
		   	{% if row[5] >= 0 %}
		   	<td style="color: green;">{{row[5] | percentFormat}}</td>
		   	{% else %}
		   	<td style="color: red;">{{row[5] | percentFormat}}</td>
		   	{% endif %}
		   	<td><input class="form-control" type="number" min=0 max={{row[2]}} value=0 id={{row[0]}} name={{row[0]}}></td> 

	    </tr>
	    {% endfor %}

	    <tr>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
			<td>
				<button id="submitbtn" type="submit" class="btn btn-primary">Sell</button>
			</td>
	    </tr>

	  </tbody>
	</table>

</form>

{% endblock %}